<mat-card>
  <mat-card-title-group>
    <img mat-card-avatar src="{{user.picture}}"/>
    <mat-card-title>{{user.title | titlecase }} {{user.firstName | titlecase }} {{user.lastName | titlecase }}</mat-card-title>
    <mat-card-subtitle>
      <span>Email : {{user.email}}</span>
      <span>Phone : {{user.phone}}</span>
      <span>Location : {{user.location.city}} </span>
    </mat-card-subtitle>
  </mat-card-title-group>

  <mat-card-content>
    <span>Select preferences :</span>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-select formControlName="cuisine">
          <mat-option *ngFor="let available of profileService.cuisinesAvailable"
                  [value]="available.cuisine"
          >
            {{available.cuisine.cuisine_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button>Add a preference</button>
    </form>

    <mat-list>
      <mat-list-item mat-line *ngFor="let cuisine of user.preferences; last as last">
        <p>{{cuisine.cuisine_name}}</p>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>


  </mat-card-content>

</mat-card>

