<div>
  <section>
    <img src="{{user.picture}}"/>
  </section>
  <section>
    <span>{{user.title}} {{user.firstName}} {{user.lastName}}</span>
    <span>Email : {{user.email}}</span>
    <span>Phone : {{user.phone}}</span>
    <span>Location : {{user.location.city}} </span>
  </section>
  <section>
    <span>Preferences :</span>
    <select>
      <option *ngFor="let available of profileService.cuisinesAvailable" value="{{available.cuisine.cuisine_id}}">
        {{available.cuisine.cuisine_name}}
      </option>
    </select>
  </section>
</div>
